body {

background-image: url(/css/fundo2.jpg);
background-clip: padding-box;
    background-size:cover;
   
 
}

footer {
    color: #AAA
}

img { 
  width: 10%;
  height: 20%;
  border-radius: 30px;
  
}