<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Accent Bank: Extrato</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        
        <link th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"  rel="stylesheet" />
        
        <link th:href="@{/webjars/bootstrap/css/bootstrap-theme.min.css}"  rel="stylesheet" />
        
        <link th:href="@{/webjars/font-awesome/css/font-awesome.min.css}"  rel="stylesheet" />
        
        <link th:href="@{/css/estilo.css}" rel="stylesheet" />
    </head>

    <body>
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed"
                        data-toggle="collapse" data-target="#navbar" aria-expanded="false"
                        aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span> <span
                            class="icon-bar"></span> <span class="icon-bar"></span> <span
                            class="icon-bar"></span>
                    </button>
			
					<a class="navbar-brand"><b>Accent Bank </b><br>
					<sub><font size="2">O Banco da Inclusão</h1></sub></font></a>
				</div>
		</div>
        </nav>
    
        <div class="container">
          <div class="page-header">
          <div class="container">
  <img src="https://media-exp1.licdn.com/dms/image/C4D0BAQGTiJD3v-slRg/company-logo_200_200/0/1622838532615?e=2159024400&v=beta&t=OzBYxiWg1d8guWDRd0CnItkgTGYQZJJor4IWdHiN_DE" alt="Logo Accenture" width="50" height="60"  align="right">
</div>
          
                <h1>Conta:</h1>
            </div>
            
            <table class="table table-bordered">
                <thead>
                    <tr>
                        
                        <th>Nome</th>
                        <th>Numero</th>
                        <th>Saldo</th>
                        
                    </tr>
                </thead>
                
                <tbody>
                    <tr th:each="conta: ${conta}">
                        
                        <td th:text="${conta.cliente.nome}"></td>
                        <td th:text="${conta.contaCorrenteNumero}"></td>
                        <td th:text="${conta.saldo}"></td>
                    </tr>
                </tbody>
            </table>
            
            <div class="page-header">
                <h2>Extrato:</h2>
            </div>
            
            <table class="table table-hover table-condensed">
                <thead>
                    <tr>
                        
                        <th>Data-Hora</th>
                        <th>Valor</th>
                        <th>Tipo</th>
                        
                    </tr>
                </thead>
                
                <tbody>
                    <tr th:each="extrato: ${mostrarextrato}">
                        
                        <td th:text="${extrato.dataHoraMovimento}"></td>
                        <td th:text="${extrato.valorTransacao}"></td>
                        <td th:text="${extrato.transacao}"></td>
                    </tr>
                </tbody>
            </table>
        </div>
    
   
        <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
    
        <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
    </body>
</html>
