<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Accent Bank: Extrato</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        
        <link th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"  rel="stylesheet" />
        
        <link th:href="@{/webjars/bootstrap/css/bootstrap-theme.min.css}"  rel="stylesheet" />
        
        <link th:href="@{/webjars/font-awesome/css/font-awesome.min.css}"  rel="stylesheet" />
        
        <link th:href="@{/css/estilo.css}" rel="stylesheet" />
    </head>

    <body>
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed"
                        data-toggle="collapse" data-target="#navbar" aria-expanded="false"
                        aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span> <span
                            class="icon-bar"></span> <span class="icon-bar"></span> <span
                            class="icon-bar"></span>
                    </button>
    
                    <a class="navbar-brand" ><p>Accent Bank<p><font size="2"><p>O Banco da Inclusão<p></font></a>
                </div>
                <div id="navbar" class="collapse navbar-collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li class="dropdown">
                           <a href="#" class="dropdown-toggle" 
                               data-toggle="dropdown" role="button" aria-haspopup="true"
                              aria-expanded="false"> 
                              Menu
                              <span class="caret"></span>
                           </a>
    
                            <ul class="dropdown-menu">
                                <li><a href="http://www.google.com" target="_blank">Site</a></li>
                                <li><a href="http://www.facebook.com" target="_blank">Facebook</a></li>
                                <li><a href="http://www.youtube.com" target="_blank">YouTube</a></li>
                                <li><a href="http://github.com" target="_blank">Github</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    
        <div class="container">
          <div class="page-header">
                <h1>Conta:</h1>
            </div>
            
            <table class="table table-bordered">
                <thead>
                    <tr>
                        
                        <th>Nome</th>
                        <th>Numero</th>
                        <th>Saldo</th>
                        
                    </tr>
                </thead>
                
                <tbody>
                    <tr th:each="conta: ${conta}">
                        
                        <td th:text="${conta.cliente.nome}"></td>
                        <td th:text="${conta.contaCorrenteNumero}"></td>
                        <td th:text="${conta.saldo}"></td>
                    </tr>
                </tbody>
            </table>
            
            <div class="page-header">
                <h2>Extrato:</h2>
            </div>
            
            <table class="table table-hover table-condensed">
                <thead>
                    <tr>
                        
                        <th>Data-Hora</th>
                        <th>Valor</th>
                        <th>Tipo</th>
                        
                    </tr>
                </thead>
                
                <tbody>
                    <tr th:each="extrato: ${mostrarextrato}">
                        
                        <td th:text="${extrato.dataHoraMovimento}"></td>
                        <td th:text="${extrato.valorTransacao}"></td>
                        <td th:text="${extrato.transacao}"></td>
                    </tr>
                </tbody>
            </table>
        </div>
    
   
        <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
    
        <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
    </body>
</html>
